.button{
    box-sizing: border-box;
    display: inline-flex;
    padding: 13px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #0278FE;
    line-height: 22px;

}

.button:hover{
    cursor: pointer;
    background-color: #0063D2;
}

.button__text{
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
}

@media screen and (min-width: 320px)  and (max-width: 767px) {
    .button__text{
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.0625rem;
        margin: 0 auto;
    }
}