.button{
    display: inline-flex;
    padding: 13px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #0278FE;
    line-height: 22px;

}

.button:hover{
    cursor: pointer;
    background-color: #0063D2;
}

.button__text{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    
}

@media screen and (min-width: 20rem)  and (max-width: 767px) {
    .button__text{
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.0625rem;
        margin: 0 auto;
    }
}